<!-- Sección principal, contiene la barra de detalle de la marca y las imagenes principales -->
<div class="barra">
    <div class="container">
        <table class="tablemenu">
            <tr class="lineaIzquierda">
                <span class="distancia">Inicio/Producto</span>
            </tr>
            <tr class="lineaIzquierda">
                <span class="distancia"><img class="mt-3 mb-3" src="../../assets/imgs/bgtext.png" style="width: 30%;"></span>
                <div class="punteado"></div>
            </tr>
            <tr class="lineaDerecha">
                <p class="mt-2">
                    <span class="distancia">Lorem ipsum dolor sit amet,<br></span>
                    <span class="distancia">consectuer adipisicing elit, sed do <br></span>
                    <span class="distancia">eiusmod tempor incididunt ut labore <br></span>
                    <span class="distancia">et dolore magna aliqua. </span>
                </p>
            </tr>
        </table>
    </div>
</div>
<!-- Sección de carga de imagenes -->
<div class="container">
    <div>
        <img src="../../assets/imgs/asset-bg.png" class="back">
        <img src="../../assets/imgs/asset-person.png" class="mid">
        <img src="../../assets/imgs/text.png" class="front">
        <img src="../../assets/imgs/asset.png" class="arrow">
    </div>
    <h3 class="estiloTexto">LOREM IPSUM DOLOR SIT AMET |</h3>
</div>
<!-- Imagen complementaria en la pagina -->
<img src="../../assets/imgs/bg-asset-2.png" class="back2">
<div class="container">
    <table class="flotante">
        <tr>
            <td>
                <p class="sobreImagen mt-2">
                    Lorem ipsum dolor sit amet, <br>
                    consectuer adipisicing elit, sed <br>
                    do eiusmod tempor incididunt ut <br>
                    labore et dolore magna aliqua.
                </p>
            </td>
            <td>
                <p class="sobreImagen mt-5">
                    Lorem ipsum dolor sit amet, <br>
                    consectuer adipisicing elit, sed <br>
                    do eiusmod tempor incididunt ut <br>
                    labore et dolore magna aliqua. <br> 
                    Lorem ipsum dolor sit amet, <br>
                    consectuer adipisicing elit, sed <br>
                    do eiusmod tempor incididunt ut <br>
                    labore et dolore magna aliqua. <br>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <img src="../../assets/imgs/asset-2.png" style="width: 70%;">
            </td>
            <td>
                <h3 class="titulo">LOREM IPSUM DOLOR SIT AMET |</h3>
                <p class="textoComplementario">
                    Lorem ipsum dolor sit amet, <br>
                    consectuer adipisicing elit, sed <br>
                    do eiusmod tempor incididunt ut <br>
                    labore et dolore magna aliqua. <br>
                    Lorem ipsum dolor sit amet, <br>
                    consectuer adipisicing elit, sed <br>
                    do eiusmod tempor incididunt ut <br>
                    labore et dolore magna aliqua.
                </p>
                
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <!-- Componente del formulario -->
                <app-suscribete></app-suscribete>
            </td>
        </tr>
    </table>
</div>