<!-- Esta seccion corresponde a la barra de navegación del aplicativo -->
<ul class="navbar-expand-lg navbar-black bg-black nav justify-content-center">
  <li class="nav-item">
    <a class="navbar-brand" href="">
      <div class="logo-image">
        <img src="../../assets/imgs/logo.png" class="img-fluid">
      </div>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Productos">PRODUCTOS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/LaMarca">LA MARCA</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/DondeComprar">¿DÓNDE COMPRAR?</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Contactanos">CONTACTANOS</a>
  </li>
  <li class="nav-item">
    <span><a class="nav-link" href="https://es-la.facebook.com/login/device-based/regular/login/"><i class="bi bi-facebook"></i></a></span>
  </li>
  <li>
    <span><a class="nav-link" href="https://www.instagram.com/accounts/login/"><i class="bi bi-instagram"></i></a></span>
  </li>
  <li>
    <span><a class="nav-link" href="https://outlook.live.com/owa/"><i class="bi bi-envelope"></i></a></span>
  </li>
</ul>
